/* FONTS */

/* Fraunces */
@font-face {
    font-family: 'Fraunces';
    font-weight: 400;
    src: url('../fonts/Fraunces/fraunces-v10-latin-regular.woff2') format('woff2'),
        url('../fonts/Fraunces/fraunces-v10-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Fraunces';
    font-weight: 900;
    src: url('../fonts/Fraunces/fraunces-v10-latin-900.woff2') format('woff2'),
        url('../fonts/Fraunces/fraunces-v10-latin-900.woff') format('woff');
}

/* Barlow */
@font-face {
    font-family: 'Barlow';
    font-weight: 400;
    src: url('../fonts/barlow/barlow-v5-latin-regular.woff2') format('woff2'),
        url('../fonts/barlow/barlow-v5-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Barlow';
    font-weight: 700;
    src: url('../fonts/barlow/barlow-v5-latin-700.woff2') format('woff2'),
        url('../fonts/barlow/barlow-v5-latin-700.woff') format('woff');
}


/*  */

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
    background-color: #FEFCF7;
}

img {
    vertical-align: middle;
    object-fit: cover;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fraunces", "Times new roman", sans-serif;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.container--small {
    width: 1140px;
}

/* HEADER */

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 20px;
}

/* Nav */

.nav__menu {
    display: flex;
    align-items: center;
}

.nav__item+.nav__item {
    margin-left: 33px;
}

.nav__link {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-decoration: none;
    text-transform: uppercase;
    color: #83888F;
    transition: color 0.25s ease;
}

.nav__link:hover {
    color: #333D4B;
}

.nav__link--active {
    color: #333D4B;
}

/* MAIN */
main {
    flex-grow: 1;
}

/* HERO */

.hero .container {
    margin-bottom: 260px;
}

.hero__inner {
    padding: 115px 85px;
    background-image: url(../images/jpg/hero-picture.jpg);
    background-repeat: no-repeat;
    background-position: left 0 top -450px;
    border-radius: 10px;
}

.hero__heading {
    width: 495px;
    margin-top: 0;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.hero__text {
    width: 445px;
    margin: 0;
    margin-bottom: 56px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
}

/* BUTTON */
.button {
    display: inline-block;
    width: 217px;
    padding: 15px;
    font-family: "Fraunces", "Times new roman", sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: #FEFCF7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #0e8784;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.button:hover {
    background-color: #66d2cf;
}

.button:disabled {
    background-color: #e2dedb;
}

/* PRODUCTS */

.products .container {
    position: relative;
    margin-bottom: 200px;
}

.products__heading {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: -40px;
    margin: 0;
    font-weight: 900;
    font-size: 150px;
    line-height: 72px;
    white-space: nowrap;
    color: #83888F;
}

.products__heading::after {
    content: "";
    position: absolute;
    top: -90px;
    display: block;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
}

.products__list {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.product {
    width: 255px;
}

.product__link {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #333D4B;
}

.product__image {
    margin-bottom: 72px;
}

.product__name {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
}

.product__text {
    margin: 0;
}

/* DISCOVERY */

.discovery .container {
    position: relative;
    margin-bottom: 200px;
    padding-bottom: 150px;
}

.discover__inner {
    padding-top: 100px;
    padding-bottom: 315px;
    background: #2C343E;
    border-radius: 10px;
    text-align: center;
    color: #FEFCF7;
}

.discovery__heading {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}

.discovery__text {
    width: 540px;
    margin: 0 auto;
    opacity: 0.8;
}

.discovery__list {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 0;
    display: flex;
    column-gap: 30px;
}

.discovery__item {
    width: 350px;
    padding: 48px;
    padding-top: 72px;
    background: #0E8784;
    border-radius: 8px;
}

.discovery__item::before {
    content: "";
    width: 72px;
    height: 72px;
    display: block;
    margin: 0 auto;
    margin-bottom: 56px;
    background-image: url(../images/svg/discovery-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.discovery__item:nth-child(2)::before {
    background-image: url(../images/svg/discovery-2.svg);
}

.discovery__item:nth-child(3)::before {
    background-image: url(../images/svg/discovery-3.svg);
}

.discovery__item__title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}

.discovery__item__text {
    margin: 0;
}

/* STEPS */

.steps .container {
    margin-bottom: 200px;
}

.steps__heading {
    margin: 0;
    margin-bottom: 95px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.steps__list {
    display: flex;
    flex-wrap: wrap;
}

.step {
    position: relative;
    width: 400px;
    margin-bottom: 64px;
    padding-right: 100px;
    padding-top: 82px;
}

.step::before {
    content: "";
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 31px;
    height: 31px;
    background-color: #FEFCF7;
    border: 2px solid #0E8784;
    border-radius: 50%;
}

.step::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #FDD6BA;
}

.step:last-child {
    width: 300px;
    padding-right: 0;
}

.step:last-child::after {
    width: 0;
}

.step__number {
    display: block;
    margin-bottom: 38px;
    font-family: "Fraunces", "Times new roman", sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.step__title {
    width: 265px;
    margin: 0;
    margin-bottom: 42px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
}

.step__text {
    margin: 0;
}

/* ABOUT-US */
.about-us {
    margin-bottom: 170px;
}

.about-us__inner {
    padding: 137px 85px;
    background-image: url(../images/jpg/about-bg-image.jpg);
    background-position: left 0 bottom -200px;
    border-radius: 10px;
}

.about-us__heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.about-us__text {
    width: 445px;
    margin: 0;
    color: #FEFCF7;
}

/* COMMITMENT */
.commitment .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 170px;
}

.commitment .container::before {
    content: "";
    display: inline-block;
    width: 445px;
    height: 520px;
    background-image: url(../images/jpg/commitment.jpg);
    background-position: right 0 top 0;
    border-radius: 8px;
}

.commitment__inner {
    width: 540px;
}

.commitment__text {
    margin: 0;
}

.commitment__heading {
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}

/* FOOTER */
.footer .container {
    margin-bottom: 90px;
}

.footer-inner {
    display: flex;
    align-items: center;
    padding: 47px 85px;
    background: #2C343E;
}

.footer .logo-link {
    margin-right: 100px;
}

.footer .nav {
    margin-right: auto;
}

.footer .nav__link--active {
    color: #FEFCF7;
}

.footer .nav__link:hover {
    color: #FEFCF7;
}

.socials {
    display: flex;
    align-items: center;
}

.social {
    background-position: center;
    background-repeat: no-repeat;
}

.social+.social {
    margin-left: 24px;
}

.social__image {
    display: block;
    transition: opacity 0.25s ease;
}

.social:hover .social__image {
    opacity: 0;
}

.social:nth-child(1) {
    background-image: url(../images/svg/socials/facebook.svg);
}

.social:nth-child(2) {
    background-image: url(../images/svg/socials/twitter.svg);
    background-size: 24px 20px;
}

.social:nth-child(3) {
    background-image: url(../images/svg/socials/instagram.svg);
}