/* FONTS */

/* Fraunces */
@font-face {
    font-family: 'Fraunces';
    font-weight: 400;
    src: url('../fonts/Fraunces/fraunces-v10-latin-regular.woff2') format('woff2'),
    url('../fonts/Fraunces/fraunces-v10-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Fraunces';
    font-weight: 900;
    src: url('../fonts/Fraunces/fraunces-v10-latin-900.woff2') format('woff2'),
    url('../fonts/Fraunces/fraunces-v10-latin-900.woff') format('woff');
}

/* Barlow */
@font-face {
    font-family: 'Barlow';
    font-weight: 400;
    src: url('../fonts/barlow/barlow-v5-latin-regular.woff2') format('woff2'),
    url('../fonts/barlow/barlow-v5-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Barlow';
    font-weight: 700;
    src: url('../fonts/barlow/barlow-v5-latin-700.woff2') format('woff2'),
    url('../fonts/barlow/barlow-v5-latin-700.woff') format('woff');
}


/*  */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
    background-color: #FEFCF7;
}

img {
    vertical-align: middle;
    object-fit: cover;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 20px;
}

/* Nav */

.nav__menu {
    display: flex;
    align-items: center;
}

.nav__item+.nav__item {
    margin-left: 33px;
}

.nav__link {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-decoration: none;
    text-transform: uppercase;
    color: #83888F;
    transition: color 0.25s ease;
}

.nav__link:hover {
    color: #333D4B;
}

.nav__link--active {
    color: #333D4B;
}

/* HERO */

.hero .container {
    width: 1280px;
    padding: 115px 85px;
    background-image: url(../images/jpg/hero-picture.jpg);
    background-repeat: no-repeat;
    background-position: left 0 top -450px;
    border-radius: 10px;
}

.hero__heading {
    width: 495px;
    margin-top: 0;
    margin-bottom: 32px;
    font-family: "Fraunces", "Times new roman", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.hero__text {
    width: 445px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
}

/* BUTTON */
.button {
    display: inline-block;
    width: 217px;
    padding: 15px;
    font-family: "Fraunces", "Times new roman", sans-serif;;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: #FEFCF7;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #0e8784;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: background-color 0.25s ease;
}

.button:hover {
	background-color: #66d2cf;
}

.button:disabled {
	background-color: #e2dedb;
}